---
---

@import "{{ site.theme }}";

h1, h2, h3, h4, h5, h6 {
    color: #c8ff43 !important;
    margin: 0 0 10px;
    font-family: 'OpenSansRegular', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
}



body {
    padding: 0px 0 20px 0px;
    margin: 0px;
    font: 14px/1.5 "OpenSansRegular", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #efefef;
    font-weight: normal;
    background: #151515 !important;
    background-attachment: fixed !important;
    background: linear_gradient(#2a2a29, #1c1c1c);
}



#header {
    z-index: 100;
    top: 0px;
    width: 100%;
    position: absolute;
    background: url(../images/nav-bg.gif) #151515;
    border-bottom: 1px solid #ff0;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.25);
    text-align: center;
    padding: 14px !important;
}
